<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Channel Id</th>
          <th>Channel Title</th>
          <th>Description</th>
          <th>Video Title</th>
          <th>Published At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of videoInfo">
          <th><img [src]="c.thumbnails.medium.url" alt=""></th>
          <th>{{ c.channelId }}</th>
          <td>{{ c.channelTitle }}</td>
          <td>{{ c.description }}</td>
          <td>{{ c.title }}</td>
          <td>{{ c.publishedAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
